---
title: Things can be quite easier, and better
---

<!Doctype html>
<html id="home">

{% include head-header.html %}

<!--  HERO  -->
<section id="hero" class="light-text">
	<main>
		<div id="headlineWrapper">
			<h1>GeoidApp</h1>
			<h5>Things can be quite easier, and better</h5>
		</div>
		<a href="/docs/tutorials/geoidapp-basics/" id="quickstartButton" class="button">Try Our Interactive Tutorials</a>
	</main>
	<!--<div id="vendorStrip" class="light-text">-->
		<!--<img src="images/logos/viacom_logo.png">-->
		<!--<img src="images/logos/soundcloud_logo.png">-->
		<!--<img src="images/logos/redhat_logo.png">-->
		<!--<img src="images/logos/wepay_logo.png">-->
		<!--<img src="images/logos/verizon_logo.png">-->
	<!--</div>-->
</section>

<!--  OCEAN NODES  -->
<section id="oceanNodes">
	<main>
		<div class="image-wrapper"><img src="images/1_.png"></div>
		<div class="content">
			<h3><a href="docs/whatisk8s">GeoidApp</a> is a software application for geoid computations</h3>
			<p>It be used for different purposes, the common use case is to compute the geoid height. You can also compute other type of geoid related values, like the <i>gravity disturbance</i> and the <i>gravity anomaly</i>. While the later are applicatios are still in the beta mode</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/2.png"></div>
		<div class="content">
			<h4>Time has changed</h4>
			<p>There are some people can't just stand to this fact. We on the other hand are not afraid of adapting to a new technology. Not just because it's a new technology, that doesn't give it any credits in our score. We need the new technology to be economically feasible, there is no any </p>
	</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/3.png"></div>
		<div class="content">
			<h4>We help you to sclae</h4>
			<p>You are startup and you just can't find a place for you in the market? You can not compete with them in huge projects?
				We know that it's generally the case that companies find it very hard to meet with huge projects or high accutate projects expectations. You need to buy/rent the latest instruments, and that is not so easy. You also need to hire engineers with higher salaries. We can help you to get rid of all of that, and not just for one project, but for your all upcoming ones.
				We will definitely put you in a very good position in the market.
			</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/4.png"></div>
		<div class="content">
			<h4>Run Anywhere</h4>
			<p>From your phone to Amazon's AWS instances, GeoidApp can be run in just everything. It's also cross-platform, with native support for major OSs.</p>
		</div>
	</main>
</section>


<section id="features">
	<main>
		<h3 class="center">GeoidApp Features</h3>

		<div class="feature-box">
			<div>
				<h4><a href="/docs/user-guide/math-physics-concepts/">Thorough documentation</a></h4>
				<p>With very less effort from you, you can easily grasp at the concepts beind GeoidApp. Not just the API reference, but also the mathematical, and physical aspects of the software.</p>
			</div>
			<div>
				<h4><a href="/docs/user-guide/working-with-resources">Resources Management</a></h4>
				<p>We do care about your resources, and we definietly do not want to make it just work. We want GeoidApp to work as efficient as it could ever be! So we made it very radical! You can even obtain a reasonably accurate orthometric height with just your phone!</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4>Great UI</h4>
				<p>And you just thought that we didn't care about the UI, did not you? Glad we disappointed you! While the current desktop version of GeoidApp for desktop doesn't have a GUI, we have not made it so becuase we want to use the best possible GUI. Our mobile application version was built with Google's latest matrial design guide lines. The best there is.</p>
			</div>
			<div>
				<h4><a href="/docs/whatisgeoidapp/">Story behind GeoidApp</a></h4>
				<p>It was a successor of our BSc graduation project. We are really very delightful to work with Ahmed Abdalla. Without you none of these would ever happend. You are always a source for inspiration for us.</p>
			</div>
		</div>


	</main>
</section>

<section id="talkToUs">
	<main>
		<h3>Case Studies</h3>
		<div id="caseStudiesWrapper">
			<div>
				<p>Using GeoidApp to evaluate ICGEM models in Khartoum.</p>
				<a href="/case-studies/khartoum/">Read more</a>
			</div>

		</div>

		<!--<div id="bigSocial">-->
			<!--&lt;!&ndash;<div>&ndash;&gt;-->
				<!--&lt;!&ndash;<a href="https://youtu.be/OLwzSHBtxhI">Watch the video</a>&ndash;&gt;-->
				<!--&lt;!&ndash;<p>Creating Next Generation Kubernetes Infrastructure at Viacom</p>&ndash;&gt;-->
			<!--&lt;!&ndash;</div>&ndash;&gt;-->
			<!--<div>-->
				<!--<p>Using Kubernetes to reinvent the world’s largest educational company</p>-->
				<!--<a href="/case-studies/pearson/">Read more</a>-->
			<!--</div>-->
			<!--<div>-->
				<!--<p>Kubernetes at Box: Microservices at Maximum Velocity</p>-->
				<!--<a href="https://blog.box.com/blog/kubernetes-box-microservices-maximum-velocity/">Read more</a>-->
			<!--</div>-->
			<!--<div>-->
				<!--<p>Inside eBay’s shift to Kubernetes and containers atop OpenStack</p>-->
				<!--<a href="http://www.nextplatform.com/2015/11/12/inside-ebays-shift-to-kubernetes-and-containers-atop-openstack/">Read the story</a>-->
			<!--</div>-->
			<!--<div>-->
				<!--<p>Migrating from a homegrown ‘cluster’ to Kubernetes</p>-->
				<!--<a href="https://www.youtube.com/watch?v=6XGUTu3WhBw">Watch the video</a>-->
			<!--</div>-->
		<!--</div>-->
		<h5 style="text-align: center"><a href="/case-studies/" style="color: #3371E3; font-weight: 400">View all case studies</a></h5>
	</main>
</section>


{% include footer.html %}


<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}
</style>
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-36037335-10', 'auto');
	ga('send', 'pageview');
</script>
<!-- Start of AnswerDash script
<script>var AnswerDash;!function(e,t,n,s,a){if(!t.getElementById(s)){var i,r=t.createElement(n),c=t.getElementsByTagName(n)[0];e[a]||(i=e[a]=function(){i.__oninit.push(arguments)},i.__oninit=[]),r.type="text/javascript",r.async=!0,r.src="https://p1.answerdash.com/answerdash.min.js?siteid=756",r.setAttribute("id",s),c.parentNode.insertBefore(r,c)}}(window,document,"script","answerdash-script","AnswerDash");</script>
<!-- End of AnswerDash script -->
</body>
</html>
