---
title: Case Studies
---

<!Doctype html>
<html id="caseStudies" class="gridPage">
{% include head-header.html %}

<section id="hero" class="light-text">
	<h1>GeoidApp User Case Studies</h1>
	<h5>More to follow later :)</h5>
</section>

<section id="mainContent">
	<main>
		<div class="content">
			<div class="case-studies">
				<div class="case-study">
					<img src="/images/case_studies/pearson.png" alt="Pearson">
					<p class="quote">“We evalute recent GOCE/GRACE models on terrestrial points on Khartoum area. We found very interesting results.”</p>

					<a href="./khartoum/">Read about Khartoum</a>
				</div>

			</div>
		</div>
	</main>
</section>





<!--
<div id="videoPlayer">
	<iframe data-url="https://www.youtube.com/embed/4gyeixJLabo?autoplay=1" frameborder="0" allowfullscreen></iframe>
	<button id="closeButton"></button>
</div>
-->

{% include footer.html %}
{% include case-study-styles.html %}

</body>
</html>
