<footer>
	<main class="light-text">
		<nav>
			<a href="/docs/hellonode/">Get Started</a>
			<a href="/docs/">Documentation</a>
			<a href="/community/">Community</a>
			<a href="/case-studies/">Case Studies</a>
		</nav>
		<div class="social">
			<div>
				<a href="https://twitter.com/geoidapp" class="twitter"><span>twitter</span></a>
				<a href="https://github.com/geoidapp/geoidapp_lite" class="github"><span>Github</span></a>
			</div>
			<div>

			</div>
			<div>
			</div>
		</div>
		<div id="miceType" class="center">&copy; {{ 'now' | date: "%Y" }}  GeoidApp</div>
	</main>
</footer>
